*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

 body{
   /* display: flex;
  align-items: center;
  justify-content: center;  */
   /* height: 100vh;  */
  /* background: linear-gradient(300deg, #02328b, #7c0101, #002a3a); */
  background-color: rgb(3, 144, 187);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  color: white;
} 